In [2]:
import pandas as pd

# Let's read in the data file
df = pd.read_csv('RD_501_88101_2012-0.txt', sep = "|")
df.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,12,14,15,16,17,18,19,20,21,22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,# RD,Action Code,State Code,County Code,Site ID,Parameter,POC,Sample Duration,Unit,Method,...,Qualifier - 3,Qualifier - 4,Qualifier - 5,Qualifier - 6,Qualifier - 7,Qualifier - 8,Qualifier - 9,Qualifier - 10,Alternate Method Detectable Limit,Uncertainty
0,# RC,Action Code,State Code,County Code,Site ID,Parameter,POC,Unit,Method,Year,...,Qualifier - 4,Qualifier - 5,Qualifier - 6,Qualifier - 7,Qualifier - 8,Qualifier - 9,Qualifier - 10,Alternate Method Detectable Limit,Uncertainty,NaN
1,RD,I,01,003,0010,88101,1,7,105,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RD,I,01,003,0010,88101,1,7,105,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RD,I,01,003,0010,88101,1,7,105,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RD,I,01,003,0010,88101,1,7,105,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df[1:] # delete the first row starting with "# RC"
df = df[:-1] # delete last row with number of entries
df.head()

,# RD,Action Code,State Code,County Code,Site ID,Parameter,POC,Sample Duration,Unit,Method,...,Qualifier - 3,Qualifier - 4,Qualifier - 5,Qualifier - 6,Qualifier - 7,Qualifier - 8,Qualifier - 9,Qualifier - 10,Alternate Method Detectable Limit,Uncertainty
1,RD,I,01,003,0010,88101,1,7,105,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RD,I,01,003,0010,88101,1,7,105,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RD,I,01,003,0010,88101,1,7,105,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RD,I,01,003,0010,88101,1,7,105,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,RD,I,01,003,0010,88101,1,7,105,118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns # list all columns

In [ ]:
df2 = pd.DataFrame(df, columns = ['# RD', 'Action Code', 'State Code', 'County Code', 'Site ID',
       'Parameter', 'POC', 'Sample Duration', 'Unit', 'Method', 'Date',
       'Start Time', 'Sample Value', 'Null Data Code', 'Sampling Frequency',
       'Monitor Protocol (MP) ID'])
df2.head()

In [ ]:
t = df2.pivot_table('Sampling Frequency', index=['State Code'],
                    aggfunc='count')
t